* {
    font-family: "Ubuntu";
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    border: 10px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #ffcee0;
}

.left-section, .center-section, .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1 0 0%;
}

.left-section {
    background-color: transparent;
    gap: 40px;
}

.left-section h1 {
    font-size: 75px;
}

.left-section .options-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-section .option {
    width: 200px;
    height: 65px;

    font-size: 25px;
    font-weight: 500;
    background-color: white;
    border: 5px solid black;

    transition: 0.25s;
}

.left-section .option:hover {
    background-color: #ff90b9;
}

.left-section .option:active {
    background-color: #ff6190;
}

.center-section {
    background-color: transparent;
}

.center-section .board {
    width: 660px;
    height: 660px;

    background-color: white;
    border: 10px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-section .unit {
    background-color: white;

    box-sizing: border-box;
    border: 2px solid black;

    -webkit-user-drag: none;
    user-select: none;
}

.right-section {
    background-color: transparent;
}

.right-section .colors-container {
    width: 200px;
    height: 600px;

    background-color: white;
    border: 5px solid black;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right-section .color {
    width: 50px;
    height: 50px;
}